<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tac">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tacanalytics.AnalyticsMainActivity" />
        <activity android:name=".tacanalytics.SecondActivity" />
        <activity android:name=".taccrash.CrashMainActivity" />
        <activity android:name=".tacpayment.PaymentMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".tacstorage.StorageActivity" />
        <activity android:name=".tacauthorization.AuthMainActivity"  />

        <activity android:name=".tacmessaging.MessagingMainActivity" />

        <!-- Messaging 服务结果通知 -->
        <receiver android:name=".tacmessaging.MyReceiver">
            <intent-filter>
                <action android:name="com.tencent.tac.messaging.action.CALLBACK" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.tencent.tac.channel"
            android:value="${tac_channel}" />
    </application>

</manifest>